{#
/**
 * @file
 * Default form for create tip
 * More info at https://www.drupal.org/node/2788835
 * Custom errores at https://www.drupal.org/node/2835888
 *
 * Available variables:
 * - form
 *
 */
#}
<div id="create-tip">
  {{ form }}
</div>
